

   {{ form_start(form) }}
  {% form_theme form 'bootstrap_4_layout.html.twig' %}
   <p>{{ form_widget(form) }}</p>

<p><a class="btn btn-outline-primary" href="{{ path('app_login') }}">Авторизация</a></p>
{{ form_end(form) }}


