<header class="py-3 mb-3 border-bottom">
    <div class="container-fluid d-grid gap-3 align-items-center" style="grid-template-columns: 1fr 2fr;">

        <div class="d-flex align-items-center">
            <form class="w-100 me-3">

            </form>
            <div class="flex-shrink-0 dropdown">

                {% if name is defined %}
                    <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">

                        <li><a class="dropdown-item" href="{{ path('app_logout') }}">Выйти</a></li>
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
</header>