{{ form_start(form) }}
    {% form_theme form 'bootstrap_4_layout.html.twig' %}
    {{ form_widget(form) }}
<br>
<p><button class="btn btn-outline-primary">{{ button_label|default('Создать') }}</button></p>
{{ form_end(form) }}
